@import "styles/colors.scss";

.btn {
  padding: 18px;

  border: none;
  border-radius: 8px;
  background-color: #111827;
  color: var(--contrast-color);
  letter-spacing: 1px;
  font-weight: 700;

  &.full {
    width: 100%;
  }

  &.disabled {
    opacity: 0.2;

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
