.inputWrapper {
  position: relative;

  input {
    display: flex;
    padding-top: 4px;
    justify-content: center;
    justify-items: center;
    //height: 48px;
    width: 100%;
    padding-left: 8px;

    background-color: var(--theme-color);
    border: none;
    border-radius: 8px;
    color: var(--contrast-color);
    font-size: 18px;
  }

  .deleteBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    cursor: pointer;
  }
}
