.body[data-theme="dark-mode"] {
  background-color: #{$theme-black};
  background-image: var(--logo-bg-url);
  color: #{$theme-white};

  --background-color: #{$theme-black};
  --background-size: 100%;
  --btn-color: #{$theme-mint};
  --card-bg-color: #343434;
  --contrast-color: white;
  --contrast-color-20: #{rgba(white, 0.2)};
  --contrast-color-40: #{rgba(white, 0.4)};
  --contrast-color-70: #{rgba(white, 0.4)};
  --theme-color: #{$theme-black};
  --default-color: #{$theme-black};
  --list-hover-color: #161616;;
}

.body[data-theme="light-mode"] {

  background-color: #{$theme-white};
  background-image: var(--logo-bg-url);

  --background-color: #{$theme-white};
  --background-size: 100%;
  --btn-color: #{$theme-black};
  --color: #{$theme-black};
  --bride-bg-color: white;
  --contrast-color: #{$theme-black};
  --contrast-color-20: #{rgba($theme-black, 0.2)};
  --contrast-color-40: #{rgba($theme-black, 0.4)};
  --contrast-color-70: #{rgba($theme-black, 0.4)};
  --theme-color: #{$theme-white};
  --default-color: white;
  --list-hover-color: #161616;;
}
