html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, ul, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input {
  outline: none;
}

.bold {
  font-weight: bold;
}