.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    display: flex;
    justify-content: space-between;

    .logoTextWrapper {
      margin-left: 10px;
      padding-top: 10px;
      vertical-align: top;
    }

    .logoText {
      font-weight: bold;
      font-size: x-large;
      color: #{$theme-white};
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //padding: 24px;
    margin-top: 20px;
    margin-bottom: 16px;
    //background-color: var(--bride-bg-color);
    border-radius: 16px;
  }

  @include media(desktop) {
    width: 90%;
    margin: 50px;
  }

  @include media(phone) {
    width: 100%;
    margin: 20px;
    min-width: 320px;
  }

}

.contents {
  width: 100%;
}

.contentToken {
  padding-top: 24px;
  padding-bottom: 24px;

  @include media(desktop) {
    display: flex;

    .amount {
      flex: 1;
      margin-left: 24px;

      .balance {
        margin-bottom: 4px;
      }
    }
  }

  @include media(phone) {
    > div:first-child {
      margin-bottom: 30px;
    }
  }
}

.contentAddress {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 24px;

  border-top: 1px dotted var(--contrast-color-20);
  border-bottom: 1px solid var(--contrast-color-20);
  color: var(--contrast-color-40);
}

.addressInput {
  margin-top: 20px;
}

.addressToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrowDown {
    position: relative;

    width: 16px;
    height: 9px;
  }
}

.maxBtn {
  position: absolute;
  top: 15px;
  right: 8px;

  padding: 2px 8px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;

  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.coinPriceContainer {
  display: flex;
  flex-direction: row;

  .coinPriceInfo {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    height: 100%;
    margin-right: 16px;
    background-color: #343434;
  }

  .coinPrice {
    display: flex;
    align-items: center;

    .coinTickerImg {
      width: 24px;
      height: 24px;
      background-color: #{$theme-white};
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: 50%;
      margin-right: 10px;
    }

    .coinValue {
      font-size: 14px;
      font-weight: 600;
      color: #{$theme-white};
    }

  }

  .verticalDivider {
    width: 1px;
    height: 14px;
    margin: 0 16px;
    background-color: #c1c4cc;
  }

}

.dim {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(black, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 999;

  .text {
    margin-top: 5px;
    font-size: 18px;
  }
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .logoRow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 33%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }

  .contentRow {
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    justify-content: center;
    justify-items: center;
    justify-self: center;
  }

  .logoText {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
  }
}
