.activePositionContainer {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 0;
    color: #{$theme-white};
  }

  .tabsContainer {
    display: flex;
    flex-direction: row;
    height: 48px;
    cursor: pointer;
    margin-bottom: 40px;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 213px;
      height: 48px;
      border-radius: 20px;
      margin-right: 20px;

      .label {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
      }
    }
  }

  .activeTab {
    background: #FF6B4A;
  }
}


.positionContainerHeader {
  border-bottom: 1px solid #ffffff;
  padding: 0px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-template-columns: 23fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr;
  width: calc(100vw - 330px);
  display: grid;

  .alignToLeft {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }
}

.positionContainerContents {
  margin-top: 20px;
  grid-template-columns: 23fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr;
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 9%, .05);
  background-color: #343434;
  //border-bottom: 1px solid #383838;
  width: calc(100vw - 330px);
  display: grid;
  padding: 0 20px 0 24px;
  border-radius: 8px 8px 8px 8px;


  &__item {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #383838;
    word-break: break-all;

    &__tokenBalance {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    &__yield {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      justify-content: center;
    }

    &__leverage {
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    &__text {
      font-size: 14px;
      display: flex;
      align-content: center;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    &__tokenSymbol {
      font-size: 12px;
      font-weight: 500;
    }

    //&:nth-child(7n+1) {
    //  padding-right: 32px;
    //}
    //&:nth-child(7n+2) {
    //  padding-right: 42px;
    //}
    //&:nth-child(7n+3), &:nth-child(7n+4), &:nth-child(7n+5), &:nth-child(7n+6) {
    //  padding-right: 24px;
    //}

  }
}

.assetInfo {
  display: flex;
  align-items: center;

  &__icon {
    width: 58px;
    height: 58px;
    margin-right: 12px;

    @include media(desktop) {
      width: 58px;
      height: 58px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    &__priceInfo {
      font-size: 10px;
      font-weight: 500;
      color: #{$theme-mint};
    }
  }

  &__labelAndValue {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
    &__label {
      font-size: 12px;
    }
    &__value {
      font-size: 18px;
      font-weight: 800;
    }
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__adjustPositionBtn {
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #ffffff;
    background-color: #111827;
    font-weight: 600;
    width: 100px;
    margin-bottom: 8px;
  }

  &__closePositionBtn {
    outline: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    border: 1px solid #D2D5DA;
    color: #111827;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    width: 100px;
  }

  &__disabled {
    background-color: #f2f3f5;
    color: rgba(71,80,102,.3);
    cursor: not-allowed;
  }

  &__enabled {
    cursor: pointer;
  }
}

.positionEmptyContainer {
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 9%, .05);
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  padding: 20px 20px 20px 20px;
}
