.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9990;
}

.dimmer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  width: 720px;
  transform: translate(-50%, -50%);

  background-color: #444;
  border-radius: 16px;

  overflow: hidden;
}

.log {

}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
}

.selectedChain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 186px;

  .label {
    margin-bottom: 8px;

    color: white;
    font-weight: 700;
    font-size: 12px;

    text-align: center;
  }

  .chain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 48px;

    background-color: #161616;
    border-radius: 24px;
    color: white;
    font-weight: bold;

    span.chainName {
      margin-left: 5px ;
    }
  }

  .selectedChainItem {
  }
}

.resultData {
  width: 100%;
  padding: 10px 16px 0;

  background-color: #555;
  border: 1px solid #666666;
  border-radius: 8px;
}

.resultDataItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(.resultLastLine) {
    height: 40px;
  }

  &.resultLastLine {
    border-top: 1px dotted rgba(white, 0.3);
    margin-top: 10px;
    padding: 24px 0;

    .value {
      font-size: 20px;
    }
  }

  .label {
    color: white;
    font-size: 12px;
  }

  .value {
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}

.timeLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;

  font-size: 12px;

  .timeStatus {
    padding: 4px;

    border-radius: 4px;

    &.yet {
      background: rgba(217, 58, 0, 0.1);
      color: #D93A00;
    }

    &.complete {
      background: rgba(#00F2C3, 0.1);
      color: #00F2C3;
    }
  }

  .elapsedTime {
    color: white;
  }
}
