.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 100;
}


.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__title {
    display: flex;
    color: white;
    font-size: 24px;
    align-items: center;
    font-weight: 700;
    text-align: left;
  }

  &__logo {
    margin-left: 10px;
    width: 32px;
    height: 32px;
  }
}

.divider {
  border: 0.5px solid #ffffff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc {
  margin-top: 5px;
  width: 100%;
  display: flex;
  font-size: 10px;
  justify-content: left;

  &__lg {
    font-size: 16px;
  }
}

.adjustPositionWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.adjustPositionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--theme-color);

  .btnIcon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 10px;
  }

  .input {
    width: 80%;
    height: 48px;
  }

  .assetName {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    border-radius: 8px;
    color: var(--contrast-color);
  }

  .maxBtn {
    width: 12%;
    cursor: pointer;
    background-color: #FF6B4A;
    color: var(--contrast-color);
    font-size: 18px;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }


  .swapBtn {
    width: 11%;
    cursor: pointer;
    background-color: #ff9b4a;
    color: var(--contrast-color);
    font-size: 18px;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

.colSpace {
  padding-top: 20px;
}

.ibTokenContainerWrapper {
  display: flex;
  margin-top: 10px;
}

.assetTokenBtn {
  background: var(--theme-color);
  height: 48px;
  color: #{$theme-white};

  .label {
    font-size: 24px;
    font-weight: bold;
  }
}

.icon {
  width: 32px;
  height: 32px;

  margin-right: 10px;
}


.borrowingTokenWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.borrowingTokenContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 16px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--theme-color);

  .input {
    width: 80%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-top: 11px;
    margin-left: 10px;
  }

  .btnIcon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 10px;
  }

  .assetName {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    border: none;
    border-radius: 8px;
    color: var(--contrast-color);
  }

}

.leverageContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.summaryWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  font-size: 16px;

  .total {
    display: flex;
    flex-direction: column;
    width: 45%;

    .totalRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__label {
      }

      &__value {
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    width: 45%;

    .summaryRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__label {
      }

      &__value {
      }

    }
  }
}

.btnWrapper {
  width: 100%;
  margin-top: 10px;

  .stakeBtn {
    width: 100%;
    background: #111827;
  }
}

.adjustSummaryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  font-weight: 400;

  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;

    &__left {
      display: flex;
      flex-direction: row;
      width: 45%;
      justify-content: space-between;
    }

    &__center{
      width: 10%;
      justify-content: center;
      text-align: center;
    }

    &__right{
      display: flex;
      width: 45%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


.summaryWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;


  .total {
    display: flex;
    flex-direction: column;
    width: 45%;

    .totalRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 5px;

      &__title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__label {
      }

      &__value {
      }
    }
  }

  .summary {
    display: flex;
    flex-direction: column;
    width: 45%;

    .summaryRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 5px;

      &__title {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &__label {
      }

      &__value {
      }

    }
  }
}

.btnWrapper {
  width: 100%;
  height: 48px;
  margin-top: 10px;

  .adjustBtn {
    width: 100%;
    background: #111827;
    color: #f1f1f1;
    text-transform: none;
    font-size: 18px;
    border-radius: 8px;
    &:hover {
      background: #182134;
    }
  }
}

