.container {
  header {
    display: flex;
    justify-content: space-between;
  }

  .logoTextWrapper {
    margin-left: 10px;
    padding-top: 10px;
    vertical-align: top;
  }

  .logoText {
    font-weight: bold;
    font-size: x-large;
  }

  @include media(desktop) {
    width: 800px;
  }

  @include media(phone) {
    width: 100%;
    margin: 20px;
    min-width: 320px;
  }
}

.content {
  padding: 24px;
  margin-top: 17px;
  margin-bottom: 16px;

  background-color: var(--bride-bg-color);
  border-radius: 16px;

}

.contentChain {
  padding-bottom: 24px;

  background: url("/img/wave.png") no-repeat center 0 / auto 90%;
  boder-bottom: 1px solid var(--contrast-color-20);

  @include media(desktop) {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 264px;

    > div {
      margin-top: 65px;
    }
  }

  @include media(phone) {
    > div:first-child {
      margin-bottom: 30px;
    }
  }
}

.contentToken {
  padding-top: 24px;
  padding-bottom: 24px;

  @include media(desktop) {
    display: flex;

    .amount {
      flex: 1;
      margin-left: 24px;

      .balance {
        margin-bottom: 4px;
      }
    }
  }

  @include media(phone) {
    > div:first-child {
      margin-bottom: 30px;
    }
  }
}

.contentAddress {
  padding-top: 28px;
  padding-bottom: 28px;
  margin-bottom: 24px;

  border-top: 1px dotted var(--contrast-color-20);
  border-bottom: 1px solid var(--contrast-color-20);
  color: var(--contrast-color-40);
}

.addressInput {
  margin-top: 20px;
}

.addressToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrowDown {
    position: relative;

    width: 16px;
    height: 9px;
  }
}

.maxBtn {
  position: absolute;
  top: 15px;
  right: 8px;

  padding: 2px 8px;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 700;
  font-size: 12px;

  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
