.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.tvlContainer {
  background-image: linear-gradient(90deg,#343434, #383838);
  height: 159px;
  border-radius: 8px;
  margin-bottom: 20px;

  @include media(desktop) {
    display: flex;
    flex-direction: column;
  }

  @include media(mobile) {
    display: none;
  }
}

.tvlBrief {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #343434;
  padding: 16px 44px 8px 40px;
  border-radius: 8px;

  &__left {
    position: relative;
    top: 12px;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    color: #{$theme-white};
    margin-bottom: 4px;
  }

  &__description {
    font-size: 40px;
    font-weight: 600;
    color: #{$theme-white};
    margin-bottom: 8px;
  }

}

.tvlFooter {
  font-size: 13px;
  font-weight: 400;
  color: hsla(0,0%,100%,.3);
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: flex-end;


  &__developedBy {
    margin-right: 16px;
    position: relative;
    top: 1px;
  }
}

.myInfoContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px
;
  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 0;
    color: #{$theme-white};
  }

  .balanceContainer {
    display: flex;
    flex-direction: row;

    .balanceBox {
      border-radius: 8px;
      background-color: #343434;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 28px 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      @include media(desktop) {
        box-shadow: 0 2px 10px 0 hsla(0,0%,9%,.05);
        padding-left: 32px;
        padding-bottom: 25px;
        padding-right: 36px;
        flex: 1;
        height: 134px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &__left {
        display: flex;
        flex-direction: column;
      }

      &__right {

      }

      &__value {
        @include media(desktop) {
          font-size: 30px;
          font-weight: 600;
          line-height: 30px;
        }
      }

      &__description {
        font-size: 16px;
        font-weight: 500;
        color: #149c75;
      }
      &__image {
        width: 64px;
        height: 64px;
      }
    }

  }

}

.rowDivider {
  margin-left: 5px;
  margin-right: 5px;
}


.myPositionContainer {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 0;
    color: #{$theme-white};
  }

  .tabsContainer {
    display: flex;
    flex-direction: row;
    height: 48px;
    cursor: pointer;
    margin-bottom: 40px;

    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 213px;
      height: 48px;
      border-radius: 20px;
      margin-right: 20px;

      .label {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
      }
    }
  }

  .activeTab {
    background: #FF6B4A;
  }
}

.positionContainerHeader {
  border-bottom: 1px solid #ffffff;
  padding: 0px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-template-columns: 23fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr;
  width: calc(100vw - 330px);
  display: grid;

  .alignToLeft {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
  }
}


.positionContainerContents {
  grid-template-columns: 23fr 13fr 13fr 13fr 13fr 13fr 13fr 13fr;
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 9%, .05);
  border-bottom: 1px solid #383838;
  width: calc(100vw - 350px);
  display: grid;
  padding: 0 20px 0 24px;
  border-radius: 0 0 8px 8px;
}

.positionEmptyContainer {
  box-shadow: 0 2px 10px 0 hsla(0, 0%, 9%, .05);
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 800;
  padding: 20px 20px 20px 20px;
}
