.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media(desktop) {
    width: 1200px;
  }

  @include media(phone) {
    width: 100%;
    margin: 20px;
    min-width: 320px;
  }
}

.title {
  @include media(desktop) {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 28px;
    padding-left: 0;
  }
}

.poolListContainerHeader {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
  padding: 16px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-template-columns: 25fr 16fr minmax(120px,14fr) minmax(120px,14fr) 14fr 14fr 84px;
  width: calc(100vw - 350px);
  display: grid;
}

.poolListContainerContents {
  background-color: #343434;
  grid-template-columns: 25fr 16fr minmax(120px,14fr) minmax(120px,14fr) 14fr 14fr 84px;
  box-shadow: 0 2px 10px 0 hsla(0,0%,9%,.05);
  border-bottom: 1px solid #383838;
  width: calc(100vw - 350px);
  display: grid;
  padding: 0 20px 0 24px;
  border-radius: 8px 8px 8px 8px;

  &__item {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #383838;
    word-break: break-all;

    &__tokenBalance {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    &__totalSupply {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
    }

    &__totalBorrowed {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    &__tokenValue {
      margin-right: 4px;
      text-align: center;
    }

    &__tokenSymbol {
      font-size: 12px;
      font-weight: 500;
      text-align: right;
    }

    &:nth-child(7n+1) {
      padding-right: 32px;
    }
    &:nth-child(7n+2) {
      padding-right: 42px;
    }
    &:nth-child(7n+3), &:nth-child(7n+4), &:nth-child(7n+5), &:nth-child(7n+6) {
      padding-right: 24px;
    }

  }
}

.assetInfo {
  display: flex;
  align-items: center;


  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 4px;
    }

    &__priceInfo {
      font-size: 10px;
      font-weight: 500;
      color: #{$theme-mint};
    }
  }

  &__labelAndValue {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    &__label {
      margin-right: 5px;
    }
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__depositBtn {
    border: 0;
    outline: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #ffffff;
    background-color: #111827;
    font-weight: 600;
    width: 84px;
    margin-bottom: 8px;
  }

  &__withdrawBtn {
    outline: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    border: 1px solid #D2D5DA;
    color: #f1f1f1;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 600;
    width: 84px;
  }

  &__disabled {
    background-color: #f2f3f5;
    color: rgba(71,80,102,.3);
    cursor: not-allowed;
  }

  &__enabled {
    cursor: pointer;
  }
}
