.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 100;
}


.logoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__title {
    display: flex;
    color: white;
    font-size: 24px;
    align-items: center;
    font-weight: 700;
    text-align: left;
    margin-right: 10px;
  }

  &__logo {
    margin-left: 10px;
    width: 32px;
    height: 32px;
  }
}

.divider {
  border: 0.5px solid #ffffff;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.desc {
  margin-top: 5px;
  width: 100%;
  display: flex;
  font-size: 10px;
  justify-content: left;

  &__lg {
    font-size: 11px;
  }
}


.depositTokenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--theme-color);

  .input {
    width: 80%;
    height: 48px;
  }

  .assetName {
    width: 10%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    border-radius: 8px;
    color: var(--contrast-color);
  }

  .maxBtn {
    width: 10%;
    background-color: #FF6B4A;
    color: var(--contrast-color);
    font-size: 18px;
    border: 0;
    text-transform: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

}

.colSpace {
  padding-top: 20px;
}

.ibTokenContainerWrapper {
  display: flex;
  flex-direction: row;

  .confirmBtnWrapper {
    display: flex;
    justify-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px;
    height: 48px;
    width: 15%;

    &__btn {
      width: 100%;
      height: 48px;
      text-transform: none;
      font-size: 14px;
      font-weight: 700;
      color: #f1f1f1;
      border-radius: 8px;
      background: #111827;
      &:hover {
        background: #182134;
      }
    }
  }
}


.ibTokenContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin-top: 16px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--theme-color);

  .input {
    width: 80%;
    height: 48px;
  }

  .assetName {
    width: 20%;
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
    border-radius: 8px;
    color: var(--contrast-color);
  }
}
